/* FONTS */

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");

:root {
  --main-color: #c7167d;
}

* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: all 0.2s linear;
  line-height: 1.5;
}

/* HTML */
html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

/* BODY */
body {
  background: #fff5f8;
  padding-left: 30rem;
}

/* SECTION */
section {
  padding: 1rem 5%;
  min-height: 100vh;
}





/* cabeçalho */
.cabeçalho {
  font-size: 4rem;
  padding-bottom: 1rem;
  color: #111;
  text-transform: uppercase;
}

.cabeçalho span {
  color: var(--main-color);
  text-transform: uppercase;
}
/* cabeçalho ends */





/* btn */
.btn {
  display: inline-block;
  margin-top: 1rem;
  padding: 0.8rem 3rem;
  background: var(--main-color);
  color: #fff;
  cursor: pointer;
  font-size: 1.7rem;
}

.btn:hover {
  background: #b3e1e5;
  letter-spacing: 0.2rem;
}

/* btn ends*/





/* HEADER  */
header {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  background: #282d4d;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
  flex-flow: column;
  padding: 8rem 2rem;
  width: 30rem;
  text-align: center;
}

header .logo img {
 height: 80px;
}

header .navbar a {
  display: block;
  font-size: 2rem;
  color: #fff;
  margin: 2rem 0;
}

header .navbar a:hover {
  letter-spacing: 0.2rem;
  color: var(--main-color);
}

header .follow a {
  font-size: 2.5rem;
  color: #fff;
  margin: 0 0.7rem;
}

header .follow a:hover {
  color: var(--main-color);
}
/* HEADER ENDS */


/* BARRA MENU*/
#menu-bars {
  position: fixed;
  top: 1rem;
  right: 2.3rem;
  z-index: 10000;
  background: var(--main-color);
  color: #fff;
  border-radius: .5rem;
  padding: 1rem 1.5rem;
  font-size: 3rem;
  cursor: pointer;
  display: none;
}


/* CURSOR */
.cursor-1 {
  position: absolute;
  top: 0;
  left: 0;
  height: 1rem;
  width: 1rem;
  background-color: var(--main-color);
  pointer-events: none;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  z-index: 10000;
}

.cursor-1.active {
  height: 7rem;
  width: 7rem;
  opacity: 0.3;
}

.cursor-2 {
  position: absolute;
  top: 0;
  left: 0;
  height: 4rem;
  width: 4rem;
  border: 0.1rem solid var(--main-color);
  pointer-events: none;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  z-index: 10000;
  transition: 0.3s linear;
}

.cursor-2.active {
  display: none;
}
/* CURSOR ENDS */





/* INÍCIO */
.início {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.início .image {
  flex: 1 1 40rem;
}

.início .image img {
  width: 110%;
}

.início .image a {
  color: #282d4d;
}

.início .content {
  flex: 1 1 40rem;
}

.início .content .olá {
  font-size: 2.4rem;
  color: var(--main-color);
}

.início .content h3 {
  font-size: 4.5rem;
  color: #111;
  text-transform: uppercase;
}

.início .content h3 span {
  color: var(--main-color);
  text-transform: uppercase;
}

.início .content .info {
  font-size: 2.5rem;
  color: #111;
  padding: 0.5rem 0;
}

.início .content .texto {
  font-size: 1.7rem;
  color: #666;
  padding: 0.5rem 0;
  text-transform: none;
}

/* INÍCIO ENDS */





/* SOBRE */

.sobre .row-1 {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  padding-bottom: 2rem;
}

.sobre .row-1 .image {
  flex: 1 1 25rem;
}

.sobre .row-1 .image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border: 1rem solid #fff;
  border-radius: .5rem;
  box-shadow: 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

.sobre .row-1 .content {
  flex: 1 1 50rem;
}

.sobre .row-1 .content h3 {
  color: #333;
  font-size: 2.8rem;
  text-transform: none;
}

.sobre .row-1 .content p {
  color: #666;
  font-size: 1.7rem;
  padding: 2rem 0;
  text-transform: none;
}

.sobre .row-1 .content .box-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  padding: 0.5rem 0;
}

.sobre .row-1 .content .box-container .box {
  flex: 1 1 20rem;
}

.sobre .row-1 .content .box-container .box span {
  color: var(--main-color);
}
/* SOBRE ENDS*/





/* INTERESSES */

.interesses .box-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.interesses .box-container .box {
  flex: 1 1 30rem;
  text-align: center;
  padding: 2rem;
  background: #fff;
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

.interesses .box-container .box i {
  height: 6rem;
  width: 6rem;
  line-height: 6rem;
  font-size: 2.5rem;
  color: #fff;
  background: var(--main-color);
  border-radius: 50%;
}

.interesses .box-container .box h3 {
  color: #444;
  font-size: 2.2rem;
  padding-top: 1rem;
  text-transform: none;
}

.interesses .box-container .box p {
  color: #666;
  font-size: 1.2rem;
  padding-top: 0.5rem;
  text-transform: none;
}
/* INTERESSE ENDS */





/* CONTATO STARTS */

.contato .icons-container {
  display: flex;
  gap: 1.5rem;
  flex-wrap: wrap;
  padding-bottom: 2rem;
}

.contato .icons-container .icons {
  flex: 1 1 25rem;
  text-align: center;
  padding: 2rem;
  background: #fff;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
}

.contato .icons-container .icons i {
  height: 5rem;
  width: 5rem;
  line-height: 5rem;
  font-size: 2rem;
  background: var(--main-color);
  color: #fff;
  border-radius: 50%;
}

.contato .icons-container .icons h3 {
  color: #111;
  font-size: 2rem;
  padding: 5rem 0;
}

.contato .icons-container .icons p {
  color: #666;
  font-size: 1.7rem;
}

.contato .row {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.contato .row form {
  flex: 1 1 55rem;
  background: #fff;
  padding: 0 2rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
}

.contato .row .mapa {
  flex: 1 1 25rem;
  border: 1rem solid #fff;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  width: 100%;
}

.contato .row form .box,
.contato .row form textarea {
  width: 100%;
  border-bottom: 0.1rem solid #333;
  color: #333;
  text-transform: none;
  font-size: 1.7rem;
  padding: 1rem 0;
  margin: 1rem 0;
}

.contato .row form .box:focus,
.contato .row form textarea:focus {
  border-color: var(--main-color);
}

.contato .row form .box::placeholder,
.contato .row form textarea::placeholder {
 text-transform: capitalize;
}
  
.contato .row form textarea{
    height: 20rem;
    resize: none;
}
  

.contato .row form .btn{
    margin-top: 0;
    margin-bottom: 1.5rem;
}
  
.rodapé{
    margin-top: 2rem;
    font-size: 2rem;
    padding: 2.5rem;
    text-align: center;
    color: #666;
    background: #fff;
}
  
.rodapé span{
    color: var(--main-color);
}
  
  
  
  
  
  
  
  
  
  
  
  
    /*  MEDIA QUERIES */

  @media (max-width: 991px) {
    html {
      font-size: 55%;
    }

    body {
      padding: 0;
    }

    #menu-bars {
      display: initial;
    }

    header {
      left: -120%;
    }

    header.active {
      left: 0%;
    }

    .cursor-1,
    .cursor-2 {
      display: none;
    }
  }

  @media (max-width: 450px) {
    html {
      font-size: 50%;
    }

    header {
      width: 100%;
    }
  }






