/* FONTS */
@font-face {
    font-family: titulo;
    src: url(/css/font/Aniyah.otf);
}

@font-face {
    font-family: fonte;
    src: url(/css/font/Bellaty\ Scripts.ttf);
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color:  #00020d;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
    
    
}
header{
    display: flex;
    flex-flow: row nowrap;
    border-bottom: 1px double #C3B5B8;
    width: 100%;
}

header img{
    display: flex;
    flex-direction: row;
    height: 90px;
    width: 84rem;
}

.content{
    margin-top: 2rem;
}

.intro {
    text-align:center;
    margin-left: 19rem;
    margin-right: 19rem;
    font-family: fonte;
    font-size: 25px;
    color:antiquewhite;
}

h1{
    margin-bottom: 1rem;
    text-align: center;
    font-family:titulo;
    color: #FFDAD8;
    font-size: 1.6rem;
}

.form{
    background-image: url(/img/carta.jpg);
    padding: 1rem;
    border-radius: 10px;
    min-width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

form label{
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: titulo;
    color: black;
}

#incrementar {
     align-self: center;
    font-family: Arial, Helvetica, sans-serif;
    width: 15%;
    border-radius: 1rem;
    
}

.radio{
    text-align: center;
    color: black;
    display: flex;
    gap: 10rem;
    justify-content: space-between;
    font-family:titulo;

}



#campoMsg {
    padding: 8px;
    border-radius: 5px;
    background-color: transparent ;
    border: transparent;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    box-sizing: border-box;
    transition: .3s;
    font-family:Arial, Helvetica, sans-serif;
}
#escolhaNum{
    border-radius: 25px;
    text-align: center;
}

#seletor {
   align-self: center;
    font-family: Arial, Helvetica, sans-serif;
    width: 10%;
    border-radius: 25rem;
    margin-bottom: 0.2rem;
    text-align: center;
}
    


#submit {
    display:none;
    padding: 1rem;
    font-size: 1rem;
    outline: none;
    border: none;
    border-radius: 25px;
    margin-top: 1rem;
    background-color: rgb(73, 1, 1);
    color: rgb(210, 210, 210);
    width: 8rem;
    cursor: pointer;
    transition: .3s;

}

#submit:hover{


    background-color:rgb(48, 1, 1);
}

.resultado {
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    padding: 1rem;
    min-width: 30%;
    display: flex;
    background-image:url(/img/carta2.png);
}

.resultado label {
    font-family: titulo;
    color: black;
}

.resultado textarea{
    padding: 8px;
    border-radius: 8px;
    border: transparent;
    background-color: transparent;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    font-family: Arial, Helvetica, sans-serif;
    transition: .3s;
}


/* Footer */

footer {
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 100%;
    height: auto;
    bottom: 0;
    /* position: fixed; */
    margin-top: 3rem;
}
footer p{
    font-size: 1.2rem;
    color: #FFDAD8;
    text-align: center;
}

footer  img {
    border-top: 1px double #C3B5B8;
    display: flex;
    flex-direction: row;
    height: 90px;
    width: 100%;
}


@media only screen and (max-device-width: 700px) {
    .menu { width:400px; } 
    .menu { width:100%; } 
}
